$color_purple: #7c00ff;
$color_red: #ff0077;
$color_green: #10d69e; //#16ffbd

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons" !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

* {
    font-family: "Nunito", sans-serif;
}

p,
h1,
h2 {
    color: #444444;
    word-break: break-word;
}

body {
    background-color: #fdfcff;
} 

.hh_h1 {
    font-size: 50px;
    font-weight: 800;
}

.hh_h2 {
    font-size: 32px;
    font-weight: 800;
}

.hh_p {
    font-size: 26px;
    font-weight: 600;
}

.hh_label {
    font-size: 16px;
    font-weight: 700;
}

.hh_color_purple {
    color: $color_purple;
}

.hh_color_red {
    color: $color_red;
}

.hh_color_green {
    color: $color_green;
}

.hh_red_bg {
    background-color: $color_red;
}

.hh_purple_bg {
    background-color: $color_purple;
}

.hh_green_bg {
    background-color: $color_green;
}

.hh_button {
    background-color: $color_red;
    font-size: 26px;
    font-weight: 700;
    color: white;
    transition: 0.3s;
    padding: 10px 50px;
    border-radius: 50px;

    &:hover {
        color: white;
        background-color: lighten($color_red, 8%);
    }
}

.hh_button_green {
    background-color: white;
    color: $color_green;

    &:hover {
        background-color: white;
        color: $color_green;
    }
}

.hh_button_red {
    background-color: white;
    color: $color_red;

    &:hover {
        background-color: white;
        color: $color_red;
    }
}

.hh_button_purple {
    background-color: white;
    color: $color_purple;

    &:hover {
        background-color: white;
        color: $color_purple;
    }
}

.hh_navbar {
    padding: 30px 100px;
    transition: 0.3s;
}

.hh_navbar_scrolled {
    padding: 15px 100px;
    background-color: white;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
}

.hh_banner {
    position: fixed;
    bottom: -200px;
    background-color: $color_purple;
    z-index: 1;
    padding: 15px 100px;
    transition: 0.4s;

    span{
        position: absolute;
        cursor: pointer;
    }
}

.hh_button_banner{
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    color: $color_purple;
    transition: 0.3s;
    padding: 5px 25px;
    border-radius: 50px;

    &:hover {
        color: $color_purple;
    }
}

.hh_herobanner {
    height: 100vh;
    background: url("./img/hh_rocket.gif") no-repeat bottom right;
    background-size: 60%;
}

.hh_hero_img {
    width: 100%;
}

.hh_section_container {
    padding: 100px 220px;
    p:first-child{
        line-height: 1.2;
    }
}

@media (max-width: 576px) {
    .hh_h1 {
        font-size: 40px;
        font-weight: 800;
    }

    .hh_h2 {
        font-size: 26px;
        font-weight: 800;
    }

    .hh_p {
        font-size: 22px;
        font-weight: 600;
    }

    .hh_button {
        padding: 10px 25px;
        font-size: 22px;
    }

    .hh_navbar {
        padding: 30px 15px;
    }

    .hh_navbar_scrolled {
        padding: 15px 15px;
    }

    .hh_banner {
        padding: 10px 20px 20px 20px;

        span{
            position: relative;
        }
    }

    .hh_herobanner {
        height: 90vh;
        background-position-x: 160px;
        background-size: 100%;
    }

    .hh_section_container {
        padding: 50px 25px;
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    .hh_section_container {
        padding: 100px 50px;
    }
}