@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: "Nunito", sans-serif;
}

p,
h1,
h2 {
  color: #444444;
  word-break: break-word;
}

body {
  background-color: #fdfcff;
}

.hh_h1 {
  font-size: 50px;
  font-weight: 800;
}

.hh_h2 {
  font-size: 32px;
  font-weight: 800;
}

.hh_p {
  font-size: 26px;
  font-weight: 600;
}

.hh_label {
  font-size: 16px;
  font-weight: 700;
}

.hh_color_purple {
  color: #7c00ff !important;
}

.hh_color_red {
  color: #ff0077;
}

.hh_color_green {
  color: #10d69e;
}

.hh_red_bg {
  background-color: #ff0077;
}

.hh_purple_bg {
  background-color: #7c00ff;
}

.hh_green_bg {
  background-color: #10d69e;
}

.hh_border_purple {
  border-color: #7c00ff !important;
}

.hh_button {
  background-color: #ff0077;
  font-size: 26px;
  font-weight: 700;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px 50px;
  border-radius: 50px;
}

.hh_button:hover {
  color: white;
  background-color: #7c00ff;
}

.hh_button_green {
  background-color: white;
  color: #10d69e;
}

.hh_button_green:hover {
  background-color: white;
  color: #10d69e;
}

.hh_button_red {
  background-color: white;
  color: #ff0077;
}

.hh_button_red:hover {
  background-color: white;
  color: #ff0077;
}

.hh_button_purple {
  background-color: white;
  color: #7c00ff;
}

.hh_button_purple:hover {
  background-color: white;
  color: #7c00ff;
}

.hh_input {
  border-radius: 50px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hh_input:focus {
  -webkit-box-shadow: 0 0 0 0.18rem #7c00ff;
          box-shadow: 0 0 0 0.18rem #7c00ff;
}

.hh_no_decoration {
  text-decoration: none;
}

.hh_no_decoration:hover {
  text-decoration: none;
}

.hh_social_icon {
  color: white;
  font-size: 22px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 10px;
}

.hh_social_icon:hover {
  text-decoration: none;
  color: #10d69e;
}

.hh_social_icon_nav {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 10px;
}

.hh_social_icon_nav:hover {
  text-decoration: none;
  color: #7c00ff;
}

label {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hh_navbar {
  padding: 30px 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hh_navbar .hh_nav_item:hover {
  color: #7c00ff !important;
}

.hh_nav_button {
  border: 0;
}

.hh_nav_button span {
  font-size: 40px;
  color: #7c00ff;
}

.hh_nav_button span:hover {
  color: #ff0077;
}

.hh_nav_button:focus {
  outline: none;
}

.hh_navbar_scrolled {
  padding: 15px 100px;
  background-color: white;
  -webkit-box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
}

.hh_banner {
  position: fixed;
  bottom: -200px;
  background-color: #7c00ff;
  z-index: 1;
  padding: 15px 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hh_banner span {
  position: absolute;
  cursor: pointer;
}

.hh_button_banner {
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  color: #7c00ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px 25px;
  border-radius: 50px;
}

.hh_button_banner:hover {
  color: #7c00ff;
}

.hh_herobanner {
  height: 100vh;
  background: url("./img/hh_rocket.gif") no-repeat bottom right;
  background-size: 60%;
}

.hh_scroll_down {
  border-radius: 20px;
  bottom: -80px;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 30px;
}

.hh_scroll_down::before {
  -webkit-animation: scrollDownAnimation 2s infinite;
  animation: scrollDownAnimation 2s infinite;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #ff0077;
  border-radius: 5px;
  cursor: pointer;
}

@-webkit-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -webkit-transform: translate(0, 35px);
    transform: translate(0, 35px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -webkit-transform: translate(0, 35px);
    transform: translate(0, 35px);
  }
  100% {
    opacity: 0;
  }
}

.hh_section_container {
  padding: 100px 220px;
}

.hh_section_container p:first-child {
  line-height: 1.2;
}

.hh_blog_card {
  border-radius: 25px;
}

.swiper-container {
  z-index: 0;
  max-width: 900px;
  height: 100%;
}

.swiper-container .hh_review_card {
  border-radius: 25px;
}

.hh_swiper_bullets {
  background-color: #7c00ff;
  opacity: 1;
}

#hh_faq_accordion .hh_collapse_card {
  border: 2px solid #dcdcdc;
  border-radius: 25px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.hh_faq_title {
  text-align: left;
}

.hh_faq_title:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hh_faq_icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hh_faq_icon_rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.hh_collapse_header {
  background-color: transparent;
}

.hh_footer_link:hover {
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
}

.hh_footer_email:hover {
  -webkit-text-decoration-color: #10d69e;
          text-decoration-color: #10d69e;
}

@media (max-width: 576px) {
  .hh_h1 {
    font-size: 40px;
    font-weight: 800;
  }
  .hh_h2 {
    font-size: 26px;
    font-weight: 800;
  }
  .hh_p {
    font-size: 22px;
    font-weight: 600;
  }
  .hh_label {
    font-size: 18px;
  }
  .hh_button {
    padding: 10px 15px;
    font-size: 22px;
  }
  .hh_navbar {
    padding: 30px 15px;
  }
  .hh_navbar_scrolled {
    padding: 15px 15px;
  }
  .hh_banner {
    padding: 10px 20px 20px 20px;
  }
  .hh_banner span {
    position: relative;
  }
  .hh_herobanner {
    height: 80vh;
    background-position-x: 170px;
    background-size: 100%;
  }
  .hh_herobanner h1 {
    font-size: 54px;
  }
  .hh_section_container {
    padding: 50px 25px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .hh_section_container {
    padding: 100px 50px;
  }
}

@media (min-width: 576px) {
  #hh_faq_accordion .hh_collapse_card:hover {
    border-color: #7c00ff;
  }
  #hh_faq_accordion .hh_collapse_card:hover .hh_faq_icon {
    color: #7c00ff;
  }
  #hh_faq_accordion .hh_collapse_card:hover .hh_faq_title {
    color: #7c00ff;
  }
}
/*# sourceMappingURL=index.css.map */